.awards.non-cycle {
	background-color: $color-primary;
	padding-top: 8rem;
	padding-bottom: 8rem;
	margin-bottom: 9.5rem;

	@media only screen and (max-width: 40em) {
		margin-bottom: 4.5rem;
	}

	@media only screen and (min-width: 64.0625em) {
		margin-bottom: 6.5rem;
	}

	@media only screen and (min-width: 90.0625em) {
		margin-bottom: 8.5rem;
	}

	@media only screen and (min-width: 120.0625em) {
		margin-bottom: 9.5rem;
	}

	span {
		background-image: url("https://learn.appfolio.com/inc/images/awards-sprite-2x-v5.png");
		background-repeat: no-repeat;
		display: inline-block;
		height: 120px;
		margin: 30px 30px;
		zoom: 0.7;
		-moz-transform: scale(0.7);

		@media only screen and (min-width: 90.0625em) {
			margin-bottom: 1.5rem;
		}
	}

	.awards-container {
		column-count: 4;

		@media only screen and (max-width: 40em) {
			column-count: 1;
		}

		@media only screen and (min-width: 40.0625em) {
			column-count: 2;
		}

		@media only screen and (min-width: 64.0625em) {
			column-count: 3;
		}

		@media only screen and (min-width: 90.0625em) {
			column-count: 4;
		}
	}

	.glassdoor {
		margin-bottom: 2rem;
	}

	.pacificoast {
		margin: 1rem auto 3rem;
	}

	.southcoast {
		margin: 2rem auto;

		@media all and (-ms-high-contrast:none) {
			padding-top: 6rem;
		}

		@media only screen and (min-width: 64.0625em) {
			background-position: -243px -141px;
		}

		@media only screen and (min-width: 90.0625em) {
			background-position: -243px -141px;
		}
	}

	.stevie {
		background-position: -539px -152px;
		width: 113px;
		height: 130px;
	}
}