.cards {
	margin-bottom: 10rem;

	@media only screen and (max-width: 40em) {
		margin-bottom: 4rem;
	}

	@media only screen and (min-width: 64.0625em) {
		margin-bottom: 6rem;
	}

	@media only screen and (min-width: 90.0625em) {
		margin-bottom: 8rem;
	}

	@media only screen and (min-width: 120.0625em) {
		margin-bottom: 10rem;
	}

	.section-header {
		h2 {
			margin-bottom: 3rem;
		}

		p {
			margin: 0 auto 5rem;
		}
	}

	.cards-container {
		display: flex;
		flex: 1;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: 3rem;
	}

	.card {
		border: 1px solid $color-primary;
		border-radius: 1rem;
		display: flex;
		flex-flow: wrap;
		justify-content: flex-start;
		margin-bottom: 1.5rem;
		padding: 4rem 2rem 1rem;
		width: 23.2%;

		@media only screen and (max-width: 40em) {
			width: 99%;
		}

		@media only screen and (min-width: 40.0625em) {
			width: 49%;
		}

		@media only screen and (min-width: 64.0625em) {
			width: 23.2%;
		}

		@media only screen and (min-width: 90.0625em) {
			width: 23.2%;
		}

		img {
			align-self: flex-start;
			display: inline-block;
			margin-bottom: 1rem;
			position: relative;
			top: 0;
		}

		h2 {
			font-size: 1.675rem;
			font-weight: normal;
			width: 100%;

			@media only screen and (max-width: 40em) {
				font-size: 1.5rem;
			}

			@media only screen and (min-width: 40.0625em) {
				font-size: 1.5rem;
			}

			@media only screen and (min-width: 64.0625em) {
				font-size: 1.675rem;
			}

			@media only screen and (min-width: 1024px) {
				font-size: 1.5rem;
			}

			@media only screen and (min-width: 90.0625em) {
				font-size: 1.675rem;
			}

		}

		p {
			color: $color-primary;
			display: inline-block;
			font-style: italic;
			font-weight: 300;
			width: 100%;
		}
	}

	.cards-cta {
		a {
			border-bottom: 1px solid $color-lighter-blue;
			color: $color-lighter-blue;
			font-size: rem-calc(21);
			font-weight: 300;
			padding-bottom: .3rem;
			text-transform: uppercase;

			@include transition(border-bottom-color .3s ease);

			&:hover {
				border-bottom-color: transparent;

				button {
					background-color: transparent;
					color: $color-lighter-blue;
				}
			}
		}
	}

	.owl-carousel {
		.owl-item {
			img {
				width: auto;
			}

			.card {
				margin-bottom: 0;
				opacity: 1;
				top: auto;
			}
		}

		.owl-dots {
			text-align: center;
			width: 100%;
			margin-top: 2rem;

			.owl-dot {
				background-color: rgba(0,0,0,.2);
				border-radius: 50%;
				display: inline-block;
				height: 1rem;
				margin: 0 .2rem;
				width: 1rem;

				@include transition(background-color .4s ease);

				&.active,
				&:hover {
					background-color: rgba(0,0,0,.4);
				}
			}
		}
	}
}