.events {
	margin-bottom: 10.5rem;

	@media only screen and (max-width: 40em) {
		margin-bottom: 4rem;
	}

	@media only screen and (min-width: 64.0625em) {
		margin-bottom: 6rem;
	}

	@media only screen and (min-width: 90.0625em) {
		margin-bottom: 8rem;
	}

	@media only screen and (min-width: 120.0625em) {
		margin-bottom: 10.5rem;
	}

	.section-title {
		margin-bottom: 2rem;
		text-align: left;
	}

	.event {
		display: flex;
		position: relative;

		@media only screen and (max-width: 40em) {
			flex-flow: column;
		}
	}

	.event-photo {
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		height: 30rem;

		@media only screen and (max-width: 40em) {
			height: 15rem;
		}

		@media only screen and (min-width: 40.0625em) {
			height: 20rem;
		}
	}

	.event-detail {
		align-self: center;
		background-color: #fff;
		border-right: 10px solid $color-blue;
		position: absolute;
		padding: 2rem 3rem;
		right: 0;

		@media only screen and (max-width: 40em) {
			float: none;
			right: auto;
			position: relative;
			left: auto;
		}

		h3 {
			border-bottom: 1px solid $color-primary;
			font-size: rem-calc(30px);
			font-weight: bold;
			padding-bottom: 1.5rem;
			margin-bottom: 1rem;
		}

		p {
			font-size: rem-calc(25px);
			font-weight: 300;
			font-style: italic;
			line-height: 2;

			span {
				font-size: 1.15rem;
				font-weight: 300;
			}
		}
	}

	.event-events {
		margin-top: 4rem;
		display: flex;
		justify-content: space-between;
		flex: 1;

		@media only screen and (max-width: 40em) {
			display: block;
			margin-top: 1.5rem;
		}

		&:before,
		&:after {
			display: none;
		}
	}

	.event-item {
		background-color: $color-blue;
		width: 32%;

		@media only screen and (max-width: 40em) {
			width: 100%;
			margin-bottom: 1rem;
		}

		&-photo-container {
			width: 100%;
			height: 10rem;
		}

		&-content-container {
			padding: 1.5rem;
		}

		h3,
		p {
			color: #fff;
		}

		h3 {
			font-size: rem-calc(17px);
			font-weight: bold;
		}

		p {
			font-size: rem-calc(17px);
			font-weight: 300;
			font-style: italic;
			margin-bottom: 0;
		}

		.event-item-photo-container {
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			height: 10rem;

			img {
				visibility: hidden;
			}

			@media only screen and (max-width: 40em) {
				height: 12rem;
			}

			@media only screen and (min-width: 64.0625em) {
				height: 11rem;
			}

			@media only screen and (min-width: 90.0625em) {
				height: 10rem;
			}
		}

		&:first-child {
			.event-item-photo-container {
				background-image: url('../../../assets/images/event-1-xl.jpg');


				@media only screen and (max-width: 40em) {
					background-image: url('../../../assets/images/event-1-large.jpg');
				}

				@media only screen and (min-width: 64.0625em) {
					background-image: url('../../../assets/images/event-1-large.jpg');
				}

				@media only screen and (min-width: 90.0625em) {
					background-image: url('../../../assets/images/event-1-xl.jpg');
				}
			}
		}

		&:nth-child(2) {
			.event-item-photo-container {
				background-image: url('../../../assets/images/event-2-xl.jpg');

				@media only screen and (max-width: 40em) {
					background-image: url('../../../assets/images/event-2-large.jpg');
				}

				@media only screen and (min-width: 64.0625em) {
					background-image: url('../../../assets/images/event-2-large.jpg');
				}

				@media only screen and (min-width: 90.0625em) {
					background-image: url('../../../assets/images/event-2-xl.jpg');
				}
			}
		}

		&:nth-child(3) {
			.event-item-photo-container {
				background-image: url('../../../assets/images/event-3-xl.jpg');


				@media only screen and (max-width: 40em) {
					background-image: url('../../../assets/images/event-3-large.jpg');
				}

				@media only screen and (min-width: 64.0625em) {
					background-image: url('../../../assets/images/event-3-large.jpg');
				}

				@media only screen and (min-width: 90.0625em) {
					background-image: url('../../../assets/images/event-3-xl.jpg');
				}
			}
		}
	}
}