.hero {

	&.hero-microsite {
		height: 38rem;
		position: relative;
		text-align: left;

		.hero-heading {
			color: #fff;
			font-size: 5rem;
			text-shadow: none;

			@media only screen and (max-width: 40em) {
				font-size: 3rem;
			}

			@media only screen and (min-width: 64.0625em) {
				font-size: 4rem;
			}
		}

		img {
			margin-bottom: 2rem;
		}
	}

	&-bar {
		background-color: #009de6;
		bottom: 0;
		padding: 1rem 0;
		position: absolute;
		width: 100%;

		&-text {
			align-self: center;
			color: #fff;
			font-size: 1rem;
			margin-bottom: 0;

			strong {
				font-weight: 600;
			}

			a,
			a:visited {
				border-bottom: 1px solid #fff;
				color: #fff;
				font-size: rem-calc(15);
				padding-bottom: .2rem;
				position: relative;
				margin-left: 0.5rem;

				@include transition(border-bottom-color .3s ease);

				&:hover {
					border-bottom-color: transparent;
					font-size: rem-calc(15);
					text-decoration: none;
				}

				@media only screen and (max-width: 40em) {
					clear: both;
					margin-left: 0;
				}
			}
		}
	}

}