.map {
	height: 30.1rem;
	position: relative;
	margin-bottom: 10rem;

	@media only screen and (max-width: 40em) {
		margin: 0 auto 4rem;
		max-width: 25em;
	}

	@media only screen and (min-width: 40em) {
		margin: 0 auto 6rem;
		max-width: 30em;
	}

	@media only screen and (min-width: 64.0625em) {
		margin-bottom: 6rem;
		max-width: 50em;
	}

	@media only screen and (min-width: 74.0625em) {
		margin-bottom: 8rem;
		max-width: 60em;
	}

	@media only screen and (min-width: 90.0625em) {
		margin-bottom: 8rem;
		max-width: 100%;
	}

	@media only screen and (min-width: 120.0625em) {
		margin-bottom: 10rem;
	}

	&>.row {
		height: 100%;
		position: relative;
	}

	.map-segment {
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		height: 100%;
		position: relative;

		@media only screen and (max-width: 40em) {
			height: 20rem;
		}

		@media only screen and (min-width: 40em) {
			height: 20rem;
		}

		@media only screen and (min-width: 64.0625em) {
			height: 20rem;
		}

		@media only screen and (min-width: 90.0625em) {
			height: 30rem;
		}

		&.hoverable {
			box-shadow: 0 0 0 transparent;
			height: 100%;
			right: 0;
			top: 0;
			width: 50%;

			@include transition(all .4s ease);

			@media only screen and (max-width: 40em) {
				width: 100%;
			}

			@media only screen and (min-width: 40em) {
				position: relative;
				width: 100%;
				height: 20rem;
			}

			@media only screen and (min-width: 64.0625em) {
				width: 50%;
				height: 20rem;
			}

			@media only screen and (min-width: 90.0625em) {
				width: 50%;
				height: 100%;
			}
		}

		a {
			&:hover {
				.play-icon {
					opacity: 1;
				}
			}

			.play-icon {
				left: 0;
				margin: 0 auto;
				right: 0;
				bottom: 2.4rem;
				position: absolute;
				width: 5rem;
				opacity: .5;

				@include transition(opacity .4s ease);
			}
		}
	}

	.map-pins {
		width: 100%;
		height: 100%;
		position: absolute;

		.map-pin {
			color: $color-blue;
			position: absolute;

			@include transition(color .4s ease);
			
			&:hover {
				cursor: pointer;

				svg {
					color: #fff;
				}

				h3 {
					background-color: #fff;
					color: $color-blue;
				}
			}

			svg {
				font-size: 3.4rem;
				margin-right: .5rem;

				@include transition(color .4s ease);
			}

			h3 {
				background-color: $color-blue;
				border-radius: 50px;
				color: #fff;
				display: inline-block;
				font-size: 1rem;
				padding: 1rem 2rem;
				vertical-align: bottom;

				@include transition(color .4s ease, background-color .4s ease);
			}

			&.san-diego {
				left: 16.2rem;
				top: 15.7rem;

				@media only screen and (max-width: 40em) {
					left: 32.2%;
					top: 46.4%;
				}

				@media only screen and (min-width: 40em) {
					left: 39.2%;
					top: 50.4%;
				}

				@media only screen and (min-width: 64.0625em) {
					left: 32.4%;
					top: 46.9%;
				}

				@media only screen and (min-width: 90.0625em) {
					left: 44.7%;
					top: 52.2%;
				}
			}

			&.santa-barbara {
				left: 34%;
				top: 18%;

				@media only screen and (max-width: 40em) {
					left: 32.6%;
					top: 12%;
				}

				@media only screen and (min-width: 40em) {
					left: 33.6%;
					top: 7%;
				}

				@media only screen and (min-width: 64.0625em) {
					left: 32.6%;
					top: 12%;
				}

				@media only screen and (min-width: 90.0625em) {
					top: 18%;
					left: 34%;
				}
			}
		}
	}

	.map-detail {
		background-color: rgba(0, 0, 0, .8);
		height: 100%;
		opacity: 0;
		padding: 6rem;
		position: absolute;
		text-align: center;
		width: 100%;
		z-index: 2;

		@include transition(opacity .6s ease);

		@media only screen and (min-width: 40em) {
			padding: 2rem;
		}

		@media only screen and (min-width: 90.0625em) {
			padding: 6rem;
		}

		&.active {
			opacity: 1;
		}

		h2 {
			color: #fff;
			font-size: 2.3rem;
			font-weight: 600;
			margin-bottom: 2rem;

			@media only screen and (max-width: 40em) {
				font-size: 1.5rem;
				margin-bottom: 1.2rem;
			}

			@media only screen and (min-width: 40em) {
				font-size: 1.5rem;
				margin-bottom: 1.2rem;
			}

			@media only screen and (min-width: 64.0625em) {
				font-size: 2rem;
			}

			@media only screen and (min-width: 90.0625em) {
				font-size: 2.3rem;
				margin-bottom: 2rem;
			}
		}

		h3 {
			color: #fff;
			font-size: 1.8rem;

			@media only screen and (max-width: 40em) {
				font-size: 1.2rem;
			}

			@media only screen and (min-width: 40em) {
				font-size: 1.2rem;
			}

			@media only screen and (min-width: 64.0625em) {
				font-size: 1.4rem;
			}

			@media only screen and (min-width: 90.0625em) {
				font-size: 1.8rem;
			}
		}

		p {
			color: #fff;
			line-height: 1.5;

			@media only screen and (max-width: 40em) {
				font-size: 1rem;
				line-height: 1.3;
			}

			@media only screen and (min-width: 40em) {
				font-size: 1rem;
				line-height: 1.3;
			}

			@media only screen and (min-width: 64.0625em) {
				font-size: 1rem;
			}

			@media only screen and (min-width: 64.0625em) {
				font-size: 1.12rem;
				line-height: 1.5;
			}
		}
	}
}