.photo-content {
	margin-bottom: 10rem;
	overflow: hidden;

	@media only screen and (max-width: 40em) {
		margin-bottom: 4rem;
	}

	@media only screen and (min-width: 64.0625em) {
		margin-bottom: 6rem;
	}

	@media only screen and (min-width: 90.0625em) {
		margin-bottom: 8rem;
	}

	@media only screen and (min-width: 120.0625em) {
		margin-bottom: 10rem;
	}

	.segment {
		display: flex;

		@media only screen and (max-width: 40em) {
			display: block;
			margin-bottom: 3rem;
		}

		&>div {
			align-self: center;
		}

		h3 {
			font-size: rem-calc(33);
			font-weight: 300;
		}

		h4 {
			font-size: rem-calc(24);
			font-weight: bold;
			margin-bottom: 0.3rem;
		}

		p {

			font-weight: 300;
		}

		.color-blue {
			color: $color-lighter-blue;
		}

		.color-purple {
			color: $color-purple;
		}

		.color-orange {
			color: $color-orange;
		}

		.color-red {
			color: $color-red;
		}

		.happiness-step-icon {
			margin: 0 auto;

			svg {
				height: auto !important;
				width: auto !important;
			}
		}

		.happiness-step-2,
		.happiness-step-4 {
			margin-top: -2rem;
		}

		.segment-photo {
			&.left {
				margin-left: 3rem;
				padding-left: 0;
			}

			&.right {
				margin-right: 3rem;
				padding-right: 0;
			}
		}

		.align-left {
			margin-left: -10%;
			padding-left: 0;

			@media only screen and (max-width: 40em) {
				padding: 0;
				margin: 0;
			}
		}

		.align-right {
			margin-right: -10%;
			padding-right: 0;
			text-align: right;

			@media only screen and (max-width: 40em) {
				padding: 0;
				margin: 0;
				text-align: left;
			}
		}
	}

	.connector {
		margin: 3rem auto;

		@media only screen and (max-width: 40em) {
			display: none;
		}

		img {
			margin: 0 auto;
		}
	}
}