section {

	.tile-header {
		p {
			font-weight: 300;
		}
	}
	
	.section-title {
		color: $color-primary;
		font-size: rem-calc(66);
		font-weight: bold;
		margin-bottom: 5rem;
		text-align: center;

		@media #{$small-only} {
			font-size: rem-calc(40);
			margin-bottom: 3rem;
		}

		@media #{$medium-up} {
			font-size: rem-calc(50);
			margin-bottom: 4rem;
		}

		@media #{$large-up} {
			font-size: rem-calc(60);
			margin-bottom: 5rem;
		}
	}

	p {
		font-size: rem-calc(17);
		font-weight: 300;

		@media #{$small-only} {
			font-size: rem-calc(14);
		}
	}
}