section {

	.tile-header {
		p {
			font-weight: 300;
		}
	}

	.section-title {
		color: $color-primary;
		font-size: rem-calc(66);
		font-weight: bold;
		margin-bottom: 5rem;
		text-align: center;

		@media only screen and (max-width: 40em) {
			font-size: rem-calc(40);
			margin-bottom: 3rem;
		}

		@media only screen and (min-width: 64.0625em) {
			font-size: rem-calc(50);
			margin-bottom: 4rem;
		}

		@media only screen and (min-width: 90.0625em) {
			font-size: rem-calc(60);
			margin-bottom: 5rem;
		}
	}

	p {
		font-size: rem-calc(17);
		font-weight: 300;

		@media only screen and (max-width: 40em) {
			font-size: rem-calc(14);
		}
	}
}