.tiles.photos {
	.section-title {
		margin-bottom: 3rem;
	}

	.tile-container {
		height: auto;

		img {
			visibility: hidden;
		}
	}

	.tile {
		height: 19.3rem;
		margin-bottom: .8rem;
		width: 24%;

		@media #{$small-only} {
			height: 20rem;
			width: 100%;
		}

		@media #{$medium-up} {
			width: 49%;
		}

		@media #{$large-up} {
			width: 24%;
		}

		&.short {
			height: 9.25rem;

			@media #{$medium-up} {
				height: 9.25rem;
			}

			@media #{$small-only} {
				height: 20rem;
			}
		}

		&.wide {
			width: 49%;

			@media #{$medium-up} {
				width: 49%;
			}

			@media #{$small-only} {
				height: 20rem;
				width: 100%;
			}
		}

		&.background-top {
			background-position: top;
		}
	}
}