.tiles {
	margin: 5rem 0;
	position: relative;

	h2 {
		margin-bottom: 1rem;
	}

	h2, 
	h3 {
		color: $color-primary;
	}
}

.tile {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	&.left-side {
		.level-1 {
			height: 17rem;
			margin-bottom: 1.3rem;
		}

		.level-2 {
			background-color: #ff0032;
			height: 24rem;
			margin-bottom: 1.3rem;

			img {
				margin-top: 3.5rem;
			}

			p {
				color: #fff;
				font-size: 1.4rem;
				font-style: italic;
				font-weight: 600;
				margin-top: 5.5rem;
			}
		}
	}

	&.right-side {

		h2 {
			font-weight: 600;
			margin-bottom: 0;
		}

		.level-1 {
			background-color: #009de6;
			height: 6rem;
			margin-bottom: 1.3rem;

			h2 {
				color: #fff;
			}

			// IE11 fix
			@media all and (-ms-high-contrast:none) {
				img {
					width: 4rem;
				}
			}

			.open-afmodal {
				opacity: .5;

				@include transition(opacity .4s ease);

				&:hover {
					opacity: 1;
				}
			}
		}

		.level-2 {
			background-image: url('../../../assets/images/photo-2-large.jpg');
			height: 21rem;
			margin-bottom: 1.3rem;

			@media only screen and (max-width: 40em) {
				background-image: url('../../../assets/images/photo-2-large.jpg');
			}

			@media only screen and (min-width: 64.0625em) {
				background-image: url('../../../assets/images/photo-2-large.jpg');
			}

			@media only screen and (min-width: 90.0625em) {
				background-image: url('../../../assets/images/photo-2-xl.jpg');
			}
		}

		.level-3 {
			height: 12.8rem;
			margin-bottom: 0;
			padding: 0;

			@media only screen and (max-width: 40em) {
				height: auto;
			}

			.tile {
				height: 100%;
				position: relative;

				a {
					display: flex;
					height: 100%;
					left: 0;
					position: absolute;
					top: 0;
					width: 100%;
				}

				img {
					align-self: center;
					left: 0;
					margin: 0 auto;
					right: 0;
				}

				// IE11 fix
				@media all and (-ms-high-contrast:none) {
					.tile-icon {
						top: 14%;
					}
				}
			}

			> .column .tile {
				 &:before {
					background-color: rgba(0, 0, 0, .3);
					content: '';
					height: 100%;
					left: 0;
					opacity: 0;
					position: absolute;
					top: 0;
					width: 100%;

					@include transition(opacity .4s ease);
				}
			
				&:hover:before {
					opacity: 1;
					z-index: 1;
				}

				&:hover .tile-icon {
					opacity: 1;
				}
			}

			> .left-side {
				height: 100%;
				padding-right: 0;

				@media only screen and (max-width: 40em) {
					padding: 0;
					height: 20rem;
				}
			}

			> .right-side {
				height: 100%;
				padding-left: 0;

				@media only screen and (max-width: 40em) {
					height: 20rem;
					margin-bottom: 1.3rem;
					padding: 0;
				}
				
				.tile {
					display: flex;
					position: relative;
				}
			}
		}
	}
}

.tile-header {
	height: auto;

	h2 {
		margin-bottom: 1rem;
	}

	p {
		margin: 0 auto 2rem;
	}
}

.tile-container {
	height: 100%;

	&.owl-carousel {
		display: block;
	}
}

.tile-media {
	display: flex;
}

.tile-icon {
	opacity: .5;
	position: absolute;
	z-index: 2;

	@include transition(opacity .4s ease);
}