.tiles.photos {
	.section-title {
		margin-bottom: 3rem;
	}

	.tile-container {
		height: auto;

		img {
			visibility: hidden;
		}
	}

	.tile {
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		height: 19.3rem;
		margin-bottom: .8rem;
		width: 24%;

		@media only screen and (max-width: 40em) {
			height: 20rem;
			width: 100%;
		}

		@media only screen and (min-width: 40.0625em) {
			width: 100%;
		}

		@media only screen and (min-width: 64.0625em) {
			width: 49%;
		}

		@media only screen and (min-width: 90.0625em) {
			width: 24%;
		}

		&.short {
			height: 9.25rem;

			@media only screen and (max-width: 40em) {
				height: 20rem;
			}

			@media only screen and (min-width: 64.0625em) {
				height: 9.25rem;
			}
		}

		&.wide {
			width: 49%;

			@media only screen and (max-width: 40em) {
				height: 20rem;
				width: 100%;
			}

			@media only screen and (min-width: 64.0625em) {
				width: 49%;
			}
		}

		&.background-top {
			background-position: top;
		}
	}
}