$color-primary: #3c4650;
$color-text: #212121;

// Rainbow Colors
$color-red: #ff0032;
$color-blue: #009de6;
$color-lighter-blue: #00add2;
$color-green: #00c1ae;
$color-yellow: #e0b100;
$color-gray: #3c4650;
$color-purple: #8097e3;
$color-orange: #ff9b21;

$font-family-open-sans: "open-sans", Helvetica, Arial, sans-serif;