/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
//= require foundation_and_overrides

 *= require foundation_and_overrides
 .
 */

/* 1.3 Default Styles
-----------------------------------------------------------------------------------------------*/
$font-gray: #3C4650;
$link-blue: #007bd6;
$link-gray-nav: #596269;
$link-gray-nav-hover: #1a2532;
$link-gray-head: #7A8189;
$link-gray-foot: #BBBFC2;
$link-drkblue-bkfoot: #1A2532;
$btn-red: #FF0032;
$btn-olive: #6C9096;
$btn-gray: #D5D8DA;
$btn-green: #00C1AE;
$btn-white: #FFF;
$btn-gray-bk: #3C4650;
$btn-gray-txt: #3C4650;
$btn-white-bk: #FFF;
$btn-white-txt: #FFF;
$btn-mustard: #D39E04;
$btn-turq: #00bAA7;

$font-h1: 3.438em;
$font-h1-sml: 2.250em;
$font-h2: 1.563em;
$font-h3: 2.250em;
$font-h5: 1.125em;
$font-body: 16px;
$font-p: 1.125em; /* 18px */
$font-a: 1em; /* 18px */
$font-large: 1.125em;
$font-small: 0.813em;
$font-xsmall: 0.625em;

@mixin vert-align($align: 35%) {
	position: relative;
	top: -($align);
	transform: translateY($align);
	-ms-transform: translateY($align);
	-webkit-transform: translateY($align);
}

body {
	background-color: #FFF;
	color: $font-gray;
	font-size: $font-body;
	line-height: 1.625;

	h1, h2, h3, h4, h5, h6, p, q, li, a, span, label, input, option, textarea {
		font-family: "open-sans",Helvetica,Arial,sans-serif;
	}
	h1, h2, h3, h4, h5, h6, p, q, li, span, label, input, option, textarea {
		color: $font-gray;
	}
	h1 {
		font-size: $font-h1;
		font-weight: 800;
		line-height: 1;
		margin: 0;
	}
	h1.small {
		font-size: $font-h1-sml;
		font-weight: 700;
		line-height: 1.15;
		margin-top: 70px;
	}
	h2 {
		font-size: $font-h2;
		font-weight: 300;
		line-height: 1.2;
	}
	.hero h1 {
		color: #FFF;
		font-size: 4.05em;
		font-weight: 800;
		line-height: 1;
		margin: 0;
		text-shadow: 1px 1px 2px #333;
	}
	.hero h2 {
		color: #fff;
		font-size: 35px;
		font-weight: 400;
		line-height: 1;
		margin: 15px 0 0;
		text-shadow: 1px 1px 2px #333;
	}
	h3 {
		font-size: $font-h3;
		font-weight: 300;
		line-height: 1.1;
		margin-bottom: .55em;
	}
	h4 {
		color: #008d80;
		font-size: 36px;
		font-weight: 300;
		line-height: 1.4;
		margin-bottom: 40px;
	}
	h5 {
		font-size: $font-h5;
		font-weight: 700;
	}
	h6 {
		font-size: 1.313em;
		font-weight: 700;
	}
	p, li, a, span, label, input, option, textarea {
		font-size: $font-p;
		font-weight: 400;
	}
	hr {
		margin: 100px auto;
	}
	.small {
		font-size: $font-small;
	}
	.large {
		font-size: $font-large;
	}
	sup {
		font-size: $font-xsmall;
	}
	ul {
		margin-left: 35px;
	}
	li {
		margin-bottom: 10px;
	}
	a, a:visited {
		color: $link-blue;
		font-size: $font-a;
		text-decoration: none;
	}
	a:hover, a:active {
		color: $link-blue;
		font-size: $font-a;
		text-decoration: underline;
	}
	nav {
		border-bottom: solid 1px #CCC;
		padding: 15px 0;
		width: 100%;

		ul {
			margin: 0;
			@include vert-align;
		}
		li {
			display: inline;
			font-size: $font-small;
			letter-spacing: 1.5px;
			margin-right: 20px;
		}
		img.logo {
			height: 49px;
			width: 188px;
		}
		a, a:visited {
			color: $link-gray-nav;
			font-size: 0.938em;
			font-weight: bold;
		}
		a:hover, a:active {
			color: $link-gray-nav-hover;
			font-size: 0.938em;
			text-decoration: none;
		}
	}
	footer {
		background-color: $link-drkblue-bkfoot;
		padding: 50px 0 40px;
		position: relative;
		width: 100%;

		h4 {
			color: $link-gray-head;
			margin: 0 0 13px;
			font-size: 1.125em;
			font-weight: 300;

		}
		ul {
			margin-left: 0;
		}
		li {
			font-weight: 300;
			line-height: 26px;
			list-style-type: none;
			margin-bottom: 6px;

			a {
				font-weight: 300;
			}

			span {
				background-image: image-url('sprite_social.png');
				background-repeat: no-repeat;
				display: block;
				height: 29px;
				margin-bottom: 20px;
				width: 29px;
			}
		}

		p, li, a, a:hover, a:visited {
			color: $link-gray-foot;
			font-size: 0.938em;
		}

		.address {
			line-height: 23px;
			white-space: nowrap;
		}
		
		.linkedin {
			background-position: 0 -54px;
			height: 27px;
		}

		.copyright {
			margin-top: 30px;
		}
	}

	.centered {
		text-align: center;
	}

	.copyright {
		text-align: center;

		p {
			font-size: $font-small;
		}
	}
}

/*  LAYOUT OVERRIDES
----------------------------------------- */
.x-content {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 62.5rem;
}
.right {
	text-align: right;
}
.nowrap {
	white-space: nowrap;
}

/*  HERO
----------------------------------------- */
.hero {
	background-color: #FFF;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 625px;
	margin: 0 0 95px;
	overflow: hidden;
	position: relative;
	text-align: center;
	width: 100%;
}

/*  COVER
----------------------------------------- */
.cover {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	text-align: center;
	width: 100%;
}

.flex {
	display: flex;
	display: -moz-flex;
	display: -webkit-flex;
	flex-direction: column;
	-moz-flex-direction: column;
	-webkit-flex-direction: column;
	justify-content: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
}

/*  Play button
----------------------------------------- */
.hero img#play_btn {
	height: 195px;
	margin: 22px auto 0;
	opacity: 0.85;
	width: 195px;

	&:hover {
		opacity: 1.0;
	}
}

/*  Buttons
----------------------------------------- */
.g_btn {
	border-radius: 5px;
	cursor: pointer;
	display: inline-block;
	font-weight: 600;
	padding: 6px 32px;
}
.g_btn:hover {
	text-decoration: none;
}
.g_btn.red {
	background-color: $btn-red;
	border: solid 1px $btn-red;
	color: $btn-white-txt;
}
.g_btn.red:hover {
	background-color: $btn-white-bk;
	border: solid 1px $btn-red;
	color: $btn-red;
}
.g_btn.mustard {
	background-color: $btn-mustard;
	border: solid 1px $btn-mustard;
	color: $btn-white-txt;
}
.g_btn.mustard:hover {
	background-color: $btn-white-bk;
	border: solid 1px $btn-mustard;
	color: $btn-mustard;
}
.g_btn.turq {
	background-color: $btn-turq;
	border: solid 1px $btn-white;
	color: $btn-white-txt;
}
.g_btn.turq:hover {
	background-color: $btn-white-bk;
	border: solid 1px $btn-white;
	color: $btn-turq;
}
.g_btn.mustard_inv {
	background-color: $btn-mustard;
	border: solid 1px $btn-white;
	color: $btn-white-txt;
}
.g_btn.mustard_inv:hover {
	background-color: $btn-white-bk;
	border: solid 1px $btn-white;
	color: $btn-mustard;
}
.g_btn.red_no {
	background-color: $btn-red;
	border: solid 1px $btn-red;
	color: $btn-white-txt;
}
.g_btn.red_no:hover {
	background-color: $btn-white-bk;
	border: solid 1px $btn-white-bk;
	color: $btn-red;
}
.g_btn.red_invert {
	border: solid 1px $btn-red;
	color: $btn-red;
}
.g_btn.red_invert:hover {
	background-color: $btn-red;
	border: solid 1px $btn-red;
	color: $btn-white-txt;
}
.g_btn.olive_invert {
	border: solid 1px $btn-olive;
	color: $btn-olive;
}
.g_btn.olive_invert:hover {
	background-color: $btn-olive;
	border: solid 1px $btn-olive;
	color: $btn-white-txt;
}
.g_btn.gray {
	background-color: $btn-gray;
	border: solid 1px $btn-gray;
	color: $btn-white-txt;
}
.g_btn.gray:hover {
	background-color: $btn-white-bk;
	border: solid 1px $btn-gray;
	color: $btn-gray;
}
.g_btn.gray_invert {
	border: solid 1px $btn-gray-bk;
	color: $btn-gray-txt;
}
.g_btn.gray_invert:hover {
	background-color: $btn-gray-bk;
	border: solid 1px $btn-gray-bk;
	color: $btn-white;
}
.g_btn.white_invert {
	border: solid 1px $btn-white-bk;
	color: $btn-white-txt;
}
.g_btn.white_invert:hover {
	background-color: $btn-white-bk;
	border: solid 1px $btn-white-bk;
	color: $btn-green;
}

/*  Rotating awards
----------------------------------------- */
.awards {
	background-color: #00b19e;
	padding: 4% 0;

	span {
		background-image: url("https://learn.appfolio.com/inc/images/sprite_appfolio_awards.png");
		background-repeat: no-repeat;
		display: inline-block;
		height: 120px;
		margin: 10px 30px;
	}
	.glassdoor {
		background-position: -65px -1px;
		width: 76px;
	}
	.cloud {
		background-position: -288px -2px;
		width: 115px;
	}
	.fast500 {
		background-position: -497px 0;
		width: 220px;
	}
	.pacificoast {
		background-position: -798px 1px;
		width: 122px;
	}
	.itworld {
		background-position: -50px -161px;
		width: 87px;
	}
	.southcoast {
		background-position: -243px -161px;
		width: 205px;
	}
	.stevie {
		background-position: -539px -162px;
		width: 113px;
	}
	.codie {
		background-position: -744px -161px;
		width: 181px;
	}
}
@media only screen and (min-width: 871px) {
	#recognition-1 div, #recognition-2 div {
		display: inline-block;
	}
}
@media only screen and (max-width: 870px) {
	#recognition-1 div, #recognition-2 div {
		display: block;
	}
}

/*  Modals
----------------------------------------- */
.afmodal {
	background: none repeat scroll 0% 0% rgba(26, 37, 50, 0.95);
	display: none;
	position: fixed;
	overflow-y:scroll;
	overflow-x:hidden;
	top: 0;
	width: 100%;
	height: 100%;
	padding-top: 50px;
	z-index: 2000;
	h1, h2, h3, h4, h5, p, li, a, span, label, input, option, textarea {
		color: #FFF !important;
	}
	h3 {
		margin: 0;
		padding-bottom: 8px;
	}
	p {
		font-size: $font-large;
		font-weight: 200;
		margin: 0;
		padding-bottom: 20px;
	}
	img {
		padding-top: 7px;
	}
	.close-af-modal {
		display: block;
		float: right;
		font-size: 6rem;
		font-weight: 300;
		line-height: 0.6;
		margin: 0 20px 40px 0;
	}
	.close-af-modal.hide-lg {
		float: left;
		font-size: 20px;
		text-decoration: underline;
	}
	.close-af-modal:hover {
		text-decoration: none;
	}
	.medium-9 img {
		float: left;
		margin: 0 20px 0 0;
		width: 150px;
	}
}

/* Small screens
----------------------------------------- */
@media screen and (max-width: 39.9375em) {
	body {

		hr {
			margin: 70px auto;
		}

		h4 {
			font-size: 1.8rem;
			line-height: 1.2;
		}

		.hero {
			height: 450px;

			h1 {
				font-size: 2.35em;
			}

			h2 {
				font-size: 23px;
				margin-top: 10px;
			}
		}
	}
	
	.afmodal .close-af-modal {
		font-size: 4rem;
		font-weight: 400;
		margin: 0 4px 10px 0;
	}
}

/*  Hide on small/large screen
----------------------------------------- */
@media only screen and (max-width: 699px) {
	.hide-sm {
		display: none;
	}
}
@media only screen and (min-width: 700px) {
	.hide-lg {
		display: none;
	}
}
@media only screen and (max-width: 400px) {
	[class*="column"] + [class*="column"]:last-child {
		ul {
			float: right;
			margin-right: 20px;
		}
	}
}

.jobs-hero-badge {
	text-align: right;
	margin: 55px 0 40px 0;
}
.jobs-home-hero-badge {
	text-align: right;
	margin: 0;
}

@media only screen and (max-width: 1024px) {
	.jobs-hero-badge {
		text-align: center;
		margin-top: -20px;
		margin-bottom: 40px;
		margin-right: auto;
		margin-left: auto;
	}
}

.hero-badge-container {
	position: relative;
	margin: auto;
	text-align:center;
	max-width: 1024px;
}

.hero-badge-container .jobs-home-hero-badge {
	position: absolute;
	z-index: 900;
}

@media only screen and (max-width: 699px) {
	.hero-badge-container {
		width: 205px;
	}
	.hero-badge-container .jobs-home-hero-badge {
		text-align:center;
	}
}
@media only screen and (min-width: 700px) {
	.hero-badge-container .jobs-home-hero-badge {
		right: 50px;
	}
}

@import "mobile.nav.css.scss";
@import "home.css.scss";
@import "about.css.scss";
@import "jobs.css.scss";
@import "news.css.scss";
@import "products.css.scss";
@import "errors.css.scss";
@import "owl.carousel.css.scss";
