#errors_controller {

	section {
		padding-bottom: 100px;
	}

	h3 {
		margin-top: 85px;
		text-align: center;
	}

	h2 {
		margin-bottom: 85px;
		text-align: center;
	}

	h5 {
	  font-size: 1em;
	  margin: 20px 0 25px;
	}

	.large-4 {
		text-align: center;
	}

	.large-4 img {
		width: 275px;
	}

	.solutions .g_btn {
		display: none;
	}

	@media only screen and (max-width: 1024px) {
		.buttons {
			display: none;
		}

		h5 {
		    margin: 20px auto 25px;
		    width: 600px;
		}

		.solutions .g_btn {
			display: inline-block;
			margin-bottom: 30px;
		}
	}

	@media only screen and (max-width: 635px) {
		h5 {
		    width: 100%;
		}
	}

}