/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

#jobs_controller {

	.jobs {

		header {
			height: 625px;
	    	margin: 0 0 95px;

	    	h1 {
	    		color: #FFF;
	    		font-size: 65px;
	    		font-weight: 800;
	    		margin-bottom: 35px;
	    		text-shadow: 1px 1px 2px #333;
	    	}

	    	.g_btn {
			    margin: 0 auto;
	    	}
		}

		h2 {
			color: #FFF;
		}

		h3 {
			color: #3c4650;
			font-size: 50px;
			font-weight: 800;
			line-height: 1.1;
			/*color: #00C1AE;*/
		}

		h4 {
		    color: #008d80;
		    font-size: 36px;
		    font-weight: 300;
		}

		p {
			font-size: 18px;
		}

		.employees {
			margin: 100px 0;
			text-align: center;
			width: 100%;

			q {
				display: block;
				font-size: 16px;
				line-height: 1.4;
				margin-top: 15px;
			}

			p {
				font-size: 15px;
				line-height: 1.3;
				margin: 10px 0 0;

				strong {
					font-size: 16px;
				}
			}

			.jobs-copy {
				margin: 0 20px;
			}

		}

		/* flipping cards start */
		.cards {
			margin: 50px auto 0;
			width: 990px;

			p {
				font-size: 17px;
				margin: 0;
			}
		}

		.grow span {
			background-position: -10px -22px;
			height: 85px;
		}

		.love span {
			background-position: -177px -18px;
			height: 85px;
		}

		.package span {
			background-position: -346px -16px;
			height: 85px;
		}

		.innovation span {
			background-position: -10px -165px;
			height: 115px;
			margin-bottom: 10px;
		}

		.perks span {
			background-position: -174px -154px;
			height: 115px;
			margin-bottom: 10px;
		}

		.culture span {
			background-position: -344px -150px;
			height: 115px;
			margin-bottom: 10px;
		}

		.flip-container {
			-webkit-perspective: 1000;
			-moz-perspective: 1000;
			-o-perspective: 1000;
			perspective: 1000;
			float: left;
			height: 220px;
			max-width: 330px;
			width: 330px;

			.flipper {
				-webkit-transition: 0.6s;
				-webkit-transform-style: preserve-3d;
				-moz-transition: 0.6s;
				-moz-transform-style: preserve-3d;
				-o-transition: 0.6s;
				-o-transform-style: preserve-3d;
				transition: 0.6s;
				transform-style: preserve-3d;
				cursor: default;
				position: relative;
			}

			.front, .back {
				-webkit-backface-visibility: hidden;
				-moz-backface-visibility: hidden;
				-o-backface-visibility: hidden;
				backface-visibility: hidden;
				display: flex;
				display: -moz-flex;
				display: -webkit-flex;
				flex-direction: column;
				-moz-flex-direction: column;
				-webkit-flex-direction: column;
				justify-content: center;
				-moz-justify-content: center;
				-webkit-justify-content: center;
				top: 0;
				left: 0;
				height: 220px;
			}

			.front span {
				background-image: url("https://learn.appfolio.com/apm/assets/sprite_jobs.png");
				background-repeat: no-repeat;
				display: block;
				margin: 0 auto 20px;
				width: 140px;
			}
			
			.back {
				-webkit-transform: rotateY(180deg);
				-moz-transform: rotateY(180deg);
				-o-transform: rotateY(180deg);
				transform: rotateY(180deg);
				background-color: #00b19e;
				position: absolute;

				p {
					color: #fff;
					line-height: 25px;
					padding: 0 10px;
					text-align: center;
				}
			}
		}
		.flip-container:hover .flipper, .flip-container.hover .flipper {
			-webkit-transform: rotateY(180deg);
			-moz-transform: rotateY(180deg);
			-o-transform: rotateY(180deg);
			transform: rotateY(180deg);
		}
		/* flipping cards end */

		.ben_modal {
			margin-top: 47px;
		}

		.perks_modal {
			margin-top: 58px;
		}

		.focus {
			margin: 110px 0 120px;
		}

		.locations {
			margin: 120px 0;

			p strong {
				color: #D39E04;
			}

			img {
				display: block;
				margin: 20px auto;
			}

			.cities p strong {
				color: #3c4650;
			}
		}

		.join {
			background-color: #00baa7;
			height: 330px;
			text-align: center;
			width: 100%;
		}

		/* background images */
		.explore {
			height: 400px;

			.g_btn.mustard {
				margin: 0 auto;
			}
		}

		.foosball {
	    	height: 400px;
		}

		/* Large screens */
		@media only screen and (min-width: 64.063em) {
			.hero {
				background-image: url("https://learn.appfolio.com/inc/assets/hero-jobs-1500x970.jpg");
			}
			.people {
				background-image: url("https://learn.appfolio.com/apm/assets/two_img_banner_1500x500.jpg");
				height: 500px;
			}
			.explore {
				background-image: url("https://learn.appfolio.com/apm/assets/hawaii_hack_day_1500x844.jpg");
			}
			.foosball {
				background-image: url("https://learn.appfolio.com/apm/assets/foosball_1500x844.jpg");
			}
			.grow {
				border-bottom: 1px solid #ccc;
			}
			.love {
				border-right: 1px solid #ccc;
				border-bottom: 1px solid #ccc;
				border-left: 1px solid #ccc;
			}
			.package {
				border-bottom: 1px solid #ccc;
			}
			.perks {
				border-right: 1px solid #ccc;
				border-left: 1px solid #ccc;
			}
		}

		/* Medium only */
		@media screen and (min-width: 40em) and (max-width: 63.9375em) {
			.hero {
				background-image: url("https://learn.appfolio.com/inc/assets/hero-jobs-1020x970.jpg");
			}
			.people {
				background-image: url("https://learn.appfolio.com/apm/assets/two_img_banner_1020x340.jpg");
				height: 340px;
			}
			.explore {
				background-image: url("https://learn.appfolio.com/apm/assets/hawaii_hack_day_1020x970.jpg");
			}
			.foosball {
				background-image: url("https://learn.appfolio.com/apm/assets/foosball_1020x970.jpg");
			}
			.cards {
				width: 660px;
			}
			.grow {
				border-right: 1px solid #ccc;
			}
			.package {
				border-top: 1px solid #ccc;
				border-right: 1px solid #ccc;
				border-bottom: 1px solid #ccc;
			}
			.innovation {
				border-top: 1px solid #ccc;
				border-bottom: 1px solid #ccc;
			}
			.perks {
				border-right: 1px solid #ccc;
			}
		}

		/* Small screen */
		@media screen and (max-width: 39.9375em) {
			.hero {
				background-image: url("https://learn.appfolio.com/inc/assets/hero-jobs-640x450.jpg");
				height: 450px;

				h1 {
					font-size: 2.9em;
				}
			}
			.people {
				background-image: url("https://learn.appfolio.com/apm/assets/two_img_banner_640x213.jpg");
				height: 213px;
			}
			.explore {
				background-image: url("https://learn.appfolio.com/apm/assets/hawaii_hack_day_640x450.jpg");
			}
			.foosball {
				background-image: url("https://learn.appfolio.com/apm/assets/foosball_640x450.jpg");
			}
			.flip-container {
				max-width: 100%;
				width: 100%;
			}
			.cards {
				width: 100%;
			}
			.love {
				border-top: 1px solid #ccc;
				border-bottom: 1px solid #ccc;
			}
			.innovation {
				border-top: 1px solid #ccc;
				border-bottom: 1px solid #ccc;
			}
			.culture {
				border-top: 1px solid #ccc;
			}
			.employees .owl-prev, .employees .owl-next {
				margin-top: -255px;
			}
			.employees .owl-prev span, .employees .owl-next span {
				cursor: pointer;
			    background-size: 100%;
				width: 40px;
			    height: 48px;
			}
		}

		@media only screen and (max-width: 639px) {
			.ben_modal, .perks_modal {
				margin-top: 0;
			}
		}

		@media only screen and (max-width: 460px) {
			#benefits-af-modal {
				.benefits .g_btn {
					padding: 6px 15px;
				}

				.ben_modal, ul {
					float: left !important;
					margin-bottom: 0 !important;
				}
			}
		}
	}

	/* carousel */
	.employees .owl-carousel {
	    display: block;
	    width: 100%;
	    -webkit-tap-highlight-color: transparent;
	    position: relative;
	    z-index: 1;
	}
	.employees .owl-carousel .owl-stage-outer {
	    position: relative;
	    overflow: hidden;
	    -webkit-transform: translate3d(0px, 0px, 0px);
	}
	.employees .owl-height {
	    transition: height 500ms ease-in-out;
	}
	.employees .owl-carousel .owl-stage {
	    position: relative;
	    -ms-touch-action: pan-Y;
	}
	.employees .owl-carousel.owl-drag .owl-item {
	    -webkit-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;
	}
	.employees .employee-video-item {
	    display: inline;
	}
	.employees .owl-carousel .owl-item img {
	    display: block;
	    width: 100%;
	}
	.employees .employee-video-item img {
	    cursor: pointer;
	}
	.employees .owl-carousel .owl-nav .owl-prev,
	.employees .owl-carousel .owl-nav .owl-next,
	.employees .owl-carousel .owl-dot {
	    cursor: pointer;
	    -webkit-appearance: none;
	    -khtml-appearance: none;
	    -moz-appearance: none;
	    -ms-appearance: none;
	    appearance: none;
	    -webkit-user-select: none;
	    -khtml-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;
	}
	.employees .owl-prev, .employees .owl-next {
	    margin-top: -270px;
	    position: absolute;
	    text-align: center;
	    -webkit-appearance: none;
	    -khtml-appearance: none;
	    -moz-appearance: none;
	    -ms-appearance: none;
	}
	.employees .owl-prev {
	    float: left;
	    left: 0px;
	}
	.employees .owl-next {
	    float: right;
	    right: 0px;
	}
	.employees .owl-prev span {
		background: url("https://learn.appfolio.com/apm/assets/previous_57x68.png") no-repeat 0 0;
		display: block;
	    width: 57px;
		height: 68px;
	}
	.employees .owl-next span {
		background: url("https://learn.appfolio.com/apm/assets/next_57x68.png") no-repeat 0 0;
		display: block;
	    width: 57px;
		height: 68px;
	}
}

