#mobile-menu {
	img.icon {
		padding: 5px;
		width: 46px;
		cursor: pointer;
		cursor: hand;
	}
}

#mobile-nav {
	z-index: 1000;
	position: absolute;
	top: 0px;
	width: 100%;
	max-width: 639px;
	background-color: #FFF;
	margin-left: -639px;
	border-bottom: 1px solid #c3c5c4;
	box-shadow: 0px 1px 12px #333;

	#top {
		clear: both;
		display: block;
		margin: 0px 0 20px 0;
		padding-top: 20px;
		height: 80px;
		box-shadow: 0px 1px 12px #CCC;
		position: absolute;
		width: 100%;
	}

	#logo {
		float: left;
		width: 45%;
		padding-left: 15px;
		margin-top: -5px;
	}
	#x {
		float: right;
		padding: 0px;
		width: 55px;
		padding-right: 15px;
		margin-top: -5px;
		cursor: pointer;
		cursor: hand;
	}
	ul {
		clear: both;
		width: 100%;
		margin: 0;
		padding-top: 80px;
	}
	ul li {
		list-style-type: none;
		margin: 0;
		background-color: #F2F3F3;
		width: 100%;
		padding: 15px 10px 15px 30px;
		border-top: 1px solid #c3c5c4;
		cursor: pointer;
		cursor: hand;
		a {
			font-size: 1.1em;
			color: #586169;
			&:hover {
				text-decoration: none;
			}
			&:active {
				text-decoration: none;
			}
		}
		&:hover {
			background-color: #D9EEEC;
			color: #666;
		}
		&:active {
			background-color: #FFF;
			color: #666;
		}
	}
	ul li span.shadow {
		width: 100%;
		height: 1px;
		box-shadow: 0 5px 20px #333;
	}
}
