#news_controller {

	h1.small {
		margin-bottom: 20px;
	}

	footer {
		margin-top: 80px;
	}

	.news {

		.hero {
			margin: 0;
		}

	    h2 {
			font-size: 35px;
			font-weight: 300;
			margin-bottom: 90px;
		}

		h3, h3 a {
			color: #009582;
			font-size: 36px;
			font-weight: 300;
			line-height: 1.2;
			margin: 20px 0 10px;
		}

		h3 a:hover {
			border-bottom: solid 1px #009582;
			text-decoration: none;
		}

		ul {
			margin-left: 0;
		}

		li {
			list-style-type: none;
			margin-bottom: 15px;
		}

		a {
			color: #009582;
		}

		hr {
			margin: 100px 0;
		}

		.picture {
			margin-bottom: 45px;
		}

		.logo {
			width: auto;
			height: 25px;
		}

		.trust {
			background-color: #00b7a4;
			margin: 100px 0;
			padding: 60px 0;
			width: 100%;

			p {
				color: #fff;
				font-size: 20px;		
				text-align: center;
			}

			ul {
				line-height: 0;
				list-style-type: none;
				margin: 0 auto;
				text-align: center;
				width: initial;
			}

			li {
				background-image: url("https://learn.appfolio.com/apm/assets/awards-logos-sprite.png");
				background-repeat: no-repeat;
				display: inline-block;
				height: 121px;
				list-style-type: none;
				margin: 0 15px;
			}

			.cnnmoney {
				background-position: 0 0;
				margin-left: 0;
				width: 102px;
			}

			.inman {
				background-position: -141px 0;
				width: 146px;
			}

			.latimes {
				background-position: -327px 0;
				width: 138px;
			}

			.forbes {
				background-position: -504px 0;
				width: 166px;
			}

			.techcrunch {
				background-position: -709px 0;
				width: 120px;
			}

			.nbc {
				background-position: -869px 0;
				margin-right: 0;
				width: 95px;
			}

			.southcoast {
				background-position: -3px 0;
				width: 223px;
			}

			.glassdoor {
				background-position: -286px 0;
				width: 219px;
			}

			.stevie {
				background-position: -567px -4px;
				width: 115px;
			}

			.codie {
				background-position: -722px -5px;
				width: 245px;			
			}
		}

		.trust.featured {
			margin: 0 0 100px;
			padding: 35px 0 57px;

			li {
				background-image: url("https://learn.appfolio.com/apm/assets/news-logos-sprite.png");
				height: 110px;
			}
		}

		.awards {
			margin: 100px 0;
		}

		.press-items {

			a, span {
				font-weight: 300;
			}
		}

		.releases {
			margin-bottom: 100px;
		}

		#two-articles h3, #two-articles h3 a {
			font-size: 32px;
		}

		#three-articles {

			h3, h3 a {
				font-size: 25px;
    			font-weight: 400;
    		}

    		p {
    			margin-bottom: 0;
    		}

    		.picture {
				margin-bottom: 30px;
			}
		}

		.horizon hr {
			margin-bottom: 30px;
		}

		#more-news-items-display {

			h3, h3 a {
				font-size: 25px;
				font-weight: 400;
			}

			.picture {
				margin: 70px auto 20px;
			}

			.logo {
				width: auto;
				height: 20px;
			}

			.more_articles {
				height: 550px;
			}
		}

		#all-news-items-display {
			margin: 50px 0 0 15px
		}

		#home-press-list-display {

			h2 {
				margin-bottom: 0;
			}

			h2 a:hover {
					border-bottom: solid 1px #009582;
					text-decoration: none;
			}

			li {
				margin-bottom: 60px;
			}
		}

		#load-all-press {
			margin-top: 50px;
		}

		#all-news-items-display, #more-press-items-display {

			li {

				a {
					font-size: 22px;
					font-weight: 400;
				}

				a:hover {
					border-bottom: solid 1px #009582;
					text-decoration: none;
				}

				span {
					font-size: 1em;
					font-weight: 400;
				}
			}
		}

		/* Large screens */
		@media only screen and (min-width: 64.063em) {
			.hero {
				background-image: url('//learn.appfolio.com/apm/assets/hero_news_1500x970.jpg');
			}
		}

		/* Medium only */
		@media screen and (min-width: 40em) and (max-width: 63.9375em) {
			.hero {
				background-image: url('//learn.appfolio.com/apm/assets/hero_news_1020x970.jpg');
			}
		}

		/* Small screens */
		@media screen and (max-width: 39.9375em) {

			h2 {
				font-size: 25px;
				margin-bottom: 45px;
			}

			.hero {
				background-image: url('//learn.appfolio.com/apm/assets/hero_news_640x450.jpg');
			}

			.trust ul {
				margin: 0;
			}

			.trust li {
				display: block;
				margin: 0 auto 35px;
			}

			.trust li.cnnmoney {
				display: block;
				height: 98px;
				margin: 0 auto 35px;
			}

			.trust li.inman {
				background-position: -141px -32px;
				height: 52px;
			}

			.trust li.latimes {
				height: 117px;
			}

			.trust li.forbes {
				background-position: -504px -33px;
				height: 51px;
			}

			.trust li.techcrunch {
				background-position: -709px -14px;
				height: 89px;
			}

			.trust li.nbc {
				background-position: -869px -8px;
				display: block;
				height: 93px;
				margin: 0 auto 35px;
			}

			.trust.featured {
				margin-bottom: 30px;
				padding-bottom: 65px;
			}

			li {
				line-height: 1.3;
				margin-bottom: 20px;
			}

			.feature_img, .picture {
				display: block;
				margin: 70px auto 20px;
			}

			hr {
				display: none;
			}

			#more-news-items-display .more_articles {
				height: auto;
			}

			.releases h1 {
				font-size: 2.35em;
				line-height: 1.1;
			}
		}

		.relations {
			background-color: #00b7a4;
			margin-bottom: -80px;
			padding: 45px 0;
			width: 100%;

			h4, p, a {
				color: #fff;
			}

			h4 {
				margin-bottom: 5px;
			}
		}
	}
}





